<div class="btn-group training" data-class="<%= training.from.hour.to_s+(training.date.wday).to_s %>">
  <%= link_to "Special training", training_path(training), class: "btn btn-xs btn-primary" %>
</div>
