<tr class="slot">
  <td colspan="3" class="row">
    <% slot.series.each do |serie| %>
      <div class="clearfix">
        <div class="col-sm-3">
          <strong><%= serie.excercise.name %></strong>
        </div>
        <div class="col-sm-2">
          <%= serie.series %>
        </div>
        <div class="col-sm-7">
          <%= serie.note %>
        </div>
      </div>
    <% end %>
    <div class="col-sm-12">
      <p><%= slot.note%></p>
    </div>
  </td>
</tr>
