<div class="col-sm-10">
  <h2>Training templates</h2>
  <div id="template_grid" class="row">
    <% @templates.each do |t| %>
      <%= render partial: 'item', locals: {template: t } %>
    <% end %>
  </div>
</div>

<div class="col-sm-2">
  <div class="well clearfix">
    <%= link_to ("<i class='fa fa-plus fa-fw'></i> New template").html_safe, '#new_template_modal', 'data-toggle' => 'modal', class: 'btn btn-success col-xs-12' %>
  </div>
</div>

<div class="modal fade" id="new_template_modal" tabindex="-1" role="dialog" aria-labelledby="newTemplateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="newTemplate">Create new template</h4>
      </div>
      <div class="modal-body">
        <%= render 'form', modal: true, button: 'Create' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">&times;</button>
      </div>
    </div>
  </div>
</div>
