<div class="col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title"><%= link_to excercise.name, excercise_path(excercise) %></h3></div>
    <div class="panel-body">
      <%= excercise.description %>
    </div>
  </div>
</div>
