<div class="col-sm-3">
  <div class="panel panel-info">
    <div class="panel-heading"><h3 class="panel-title"><%= link_to group.name, group_path(group) %></h3></div>
    <div class="panel-body">
      <% group.users.each do |u| %>
        <div>
          <%= image_tag u.avatar.url(:thumb), :class => "avatar-thumb pull-left" %>
          <%= link_to "#{u.first_name} #{u.last_name}", user_path(u) %><br />
          <%= u.email %>
        </div>
      <% end %>
    </div>
  </div>
</div>
