<div class="flashes-box">
  <% flash.each do |key, value| %>
    <% if ["success", "info", "danger", "warning"].include? key %>
      <% type = key %>
    <% else %>
      <% type = "info" %>
    <% end %>
    <div class="alert alert-<%= type %> alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    </div>
  <% end %>
  <% flash.discard %>
  <script type="text/javascript">
    setTimeout(function() {
      $('.flashes-box>.alert>.close').click();
    }, 5000);
  </script>
</div>
